#QzoneTop{ width: 100% ; height: 41px; min-width: 980px; background-color: #C68; position: fixed; z-index: 1000;}
#QzoneAll{ position: absolute; top: 40px; width: 100%; height: auto; min-width: 980px; background-image: url("../images/top.jpg"); background-position: -120px 0; background-repeat: no-repeat;}
#QATop{ width: 980px; height: 220px; margin: auto;  position: relative;}
#QAMenu{ width: 980px; height: 50px; margin: auto; position: relative; margin-bottom: 30px;}
#QAContent{ width: 982px; min-height: 2000px; height: auto;  margin: auto; overflow: auto;}
#QACColumnLeft{ width: 170px; height: auto; min-height: 2000px; float: left; overflow: auto; position: absolute;}
#QACColumnRight{ width: 810px; height: 2000px;  position: absolute; left: 350px;}
#QACColumnRightMid{ width: 534px; height: 3000px; float: left; padding-left: 20px;}
#QACColumnRightRight{ width: 230px; height: 2000px; float: right;}


.disnone{display: none;}

/*QzoneTopA*/
#QzoneTopA{ width: 980px; height: 41px; margin: auto;}
#Logo{ width: 90px; height: 41px; float: left; background-image: url("images/IconTop.png"); background-position: -62px 0px;}

.Topbg{ background-color: #E66E96;}

#TopNav{ display: block; width: 433px; height: 41px; padding-left: 10px; float: left; margin-left: 4px;}
#UserInfo{ width: 158px; height: 41px; float: right;}
.TNavLi{ height: 17px; display: inline-block; float: left; padding: 13px 10px 9px 10px; cursor: pointer; position: relative;}

/*我的主页*/


.MainTNavLiUp{ width: 520px; height: 0; /*height: 233px;*/ overflow: hidden; position: absolute; background-color: #FFF; border: 1px solid #A6A6A6; border-top:0; top: 41px; left: -1px;}
.TNavLiUpLeft{ width: 102px; height: 214px; border-top: 1px solid #FFF; float: left; padding-top: 19px;}
.TNavLiUpLeftA{ width: 50px; height: 74px; margin: 20px 0 0 25px;}
.linkPic{ width: 48px; height: 48px; display: block; border: 1px solid #E2E2E2; background-color: #FAFAFA; box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1); border-radius: 3px;}
.linktxt{ width: 50px; height: 16px; display: block; text-align: center; color: #333; font-size: 12px; line-height: 16px; margin-top: 8px;}
.linktxt:hover{text-decoration: underline;}
.linkPicIcon01{ width: 24px; height: 24px; display: block; background-image: url("images/iconHeader.png"); background-position: -39px -102px; margin: 12px auto;}
.TNavLiUpMain{ width: 417px; height: 222px; border-top: 1px solid #A6A6A6; float: left;}
.TNavLiUpMainA{ width: 380px; height: 166px; padding-left: 18px; border-left: 1px solid #E9E9E9; margin-top: 30px;}
.TNavLiUpMainArea{ width: 380px; height: 186px; position: absolute; top: 20px; left: 120px;}
.TNavLiUpMainAreaLi{ width: 75px; height: 73px; padding-top: 20px; float: left;}
.linkPicIcon{ width: 48px; height: 48px; display: block; background-image: url("images/iconHeader.png");}
.linkPicIcon02{background-position: 0px 0px;}
.linkPicIcon03{background-position: 0px -51px;}
.linkPicIcon04{background-position: -51px 0px;}
.linkPicIcon05{background-position: -51px -51px;}
.linkPicIcon06{background-position: -102px 0px;}
.linkPicIcon07{background-position: -102px -51px;}
.linkPicIcon08{background-position: -153px 0px;}
.linkPicIcon09{background-position: -153px -51px;}
.linkPicIcon10{background-position: -204px 0px;}
.linkPicIcon11{background-position: -204px -51px;}

/*好友*/
.FriendTNavLiUp{ width: 520px; height: 0; overflow: hidden; position: absolute; background-color: #FFF; border: 1px solid #A6A6A6; border-top:0; top: 41px; left: -1px;}
.FriendTNavLiUpLeft{ width: 77px; height: 290px; border-top: 1px solid #FFF; float: left; padding-top: 19px;}
.FriendTNavLiUpMain{ width: 417px; height: 312px; border-top: 1px solid #A6A6A6; float: left; padding-left: 24px;}
.FriendTNavLiUpMainA{ display: block; width: 356px; height: 260px; padding-left: 30px; margin: 30px 30px 20px 0;  border-left: 1px solid #E9E9E9;}
.FriendTNavLiUpMainATop{ width: 356px; height: 37px; font-size: 12px; line-height: 37px;}
.FTNALUMA{ width: 70px; height: 105px; margin-right: 25px; float: left;}
.FTNALUMAPic{width: 70px; height: 70px; margin: 0 0 8px 0; display: block; float: left;}
.FTNALUMAPic img{width: 70px; height: 70px; }
.FTNALUMASpan{ width: 70px; height: 16px; float: left; display: block; font-size: 12px; line-height: 16px;}
.FTNALUMASpanIcon{ width: 13px; height: 13px; display: block; float: left; margin: 2px 4px 0 14px; background-image: url("images/iconFriend.png"); background-position: -287px -51px;}
.FTNALUMASpec{ margin-right: 0;}
.linkPicIcon12{ width: 24px; height: 24px; display: block; background-image: url("images/iconHeader.png"); background-position: -189px -102px; margin: 12px auto;}
.linkPicIcon13{ width: 16px; height: 16px; display: block; background-image: url("images/iconFriend.png"); background-position: -287px -34px; margin: 16px auto;}





























.TNavLi:hover{  background-color: #E66E96;}
.TNavPerson{width: 71px; }
.TNavMain{width: 81px; height: 19px;}
.TNavFriend{ width: 57px; height: 19px;}
.TNavStore{ width: 57px;}
.TNavDress{ width: 57px;}
.DATIconA11{ background-position: -740px -50px; float: left;}
.DATIconA12{ background-position: -740px -100px; float: left;}
.DATIconA13{ background-position: -740px -75px; float: left;}
.DATIconA14{ background-position: -740px -125px; float: left;}
.DATIconA15{ background-position: -740px -150px; float: left;}
.TNavSpan{display: inline-block; height: 17px; line-height: 17px; font-size: 12px; color: #FFF; float: left; padding: 1px 0 0 6px;}
.TNavTipIcon{ width: 0; height: 0; border: 3px solid #FFF; display: block;border-left-color: transparent;border-right-color: transparent;border-bottom-color: transparent; float: left; margin: 8px 0 0 4px;}
.TNavTipIconhover{ width: 0; height: 0; border: 3px solid #404040; display: block;border-left-color: transparent;border-right-color: transparent;border-bottom-color: transparent; float: left; margin: 8px 0 0 4px;}

#UserInfoDes{ width: auto; max-width: 58px; overflow: hidden; height: 41px; padding: 0 5px; float: left; cursor: pointer;}
#UserInfoDes a{ width: 24px; height: 24px; display: block; margin: 9px 2px 0 0; float: left;}
#UserInfoDes a img{ width: 24px; height: 24px;}
#UserInfoDes span{display: inline-block; height: 41px; line-height: 41px; font-size: 12px; color: #FFF; padding: 1px 0 0 6px;}
.UserInfoIcon{ width: 26px; height: 16px; margin-left: 4px; float: left; padding: 12px 0 12px 0; cursor: pointer;}
.DATIconA16{ background-position: -765px -75px; margin-left: 4px;}
.DATIconA17{ background-position: -765px -100px; margin-left: 4px;}
.DATIconA18{ width: 24px; height: 16px; display: block; background-image: url("images/qzone-vip.gif");}
#Search{ width: 135px; height: 20px; margin: 12px 5px 0 5px; background-color: rgba(255, 255, 255, 0.25); border-radius: 4px; float: right;}
.SearchArea{ width: 105px; height: 20px; float: left; border: 0; padding-left: 5px; outline: 0; background-color: rgba(255,255,255,0); color: #FFF; font-size: 12px;}
.DATIconA19{ background-position: -765px -150px; float: left; margin: 2px 0 0 6px;}

#Music{ width: 55px; height: 20px; padding:11px 10px 10px 10px; float: right;}

.MDATIconA{ width: 16px; height: 16px; padding: 2px 3px; float: left; background-color: #E66E96; margin-right: 1px; cursor: pointer;}
.MMusicIcon{ width: 15px; height: 10px; padding: 5px 6px; float: left; background-color: #E66E96; margin-right: 0; cursor: pointer;}
.DATIconA20{ background-position: -765px 0px; }
.MusicIcon{ width: 15px; height: 10px; display: block; background-image: url("images/music-sonic.gif"); background-repeat: no-repeat;}



/*Qzone Top*/
#QzoneName{ width: 145px; height: 40px; position: absolute; top: 20px; color: #C35673; font-size: 28px; font-family: punctuation,"微软雅黑"; text-shadow: rgba(0, 0, 0, 0.2) 1px 1px 1px;}
.QNLevel{ margin-top: 16px;float: right; }

#QATNickName{ width: 140px; height: 27px; position: absolute; left: 165px; bottom: 20px; font-size: 20px; color: #C35673; font-family: punctuation,"微软雅黑";  text-shadow: rgba(0, 0, 0, 0.2) 1px 1px 1px;line-height: 26px;}
#QATNickNameIcon{ width: 95px; height: 26px; float: right;}
.QATNNHuangzuan{ cursor: pointer; width: 23px; height: 26px; display: block; float: left; background-image: url("images/huangzuan.png"); background-position: 0 -4px;}
.QATNNKaitong{ cursor: pointer; width: 55px; height: 26px; background-image: url("images/icon-vip-open.gif"); display: block; margin-left: 2px; float: left; background-repeat: no-repeat; background-position: 0 4px;}
#QAWeater{ width: 160px; padding-left: 20px; height: 56px; position: absolute; top: 30px; right: 20px; border: 1 dashed #FFF;}
.QAWeaterPic{ width: 56px; height: 56px; display: block; float: left; background-image: url("../images/weather-overcast.png");}
.QAWeaterTemperature{ font-size: 40px; line-height: 56px;color: #FFF;text-shadow: rgba(0, 0, 0, 0.2) 1px 1px 1px; float: left; width: 45px; text-align: center;}
.QAWeaterDu{ width: 8px; height: 20px;color: #FFF;text-shadow: rgba(0, 0, 0, 0.2) 1px 1px 1px; float: left; margin-top: 5px;}
.QAWeaterLocation{ width: 28px; height: 22px;color: #FFF;text-shadow: rgba(0, 0, 0, 0.2) 1px 1px 1px; float: left; font-size: 14px; margin-top: 6px;}
.QAWeaterDate{ width: 55px; height: 28px;color: #FFF;text-shadow: rgba(0, 0, 0, 0.2) 1px 1px 1px; font-size: 14px; float: right; }
.QAWeaterHide{ width: 48px; height: 25px; cursor: pointer; display: none; position: absolute; top: -25px; left: 132px; border-radius: 3px; font-size: 14px; text-align: center; color: #FFF; background-color: #54B3F3;}
#QATZan{ width: 138px; height: 32px; border: 1px solid #000; border-radius: 3px; position: absolute; bottom: 20px; right: 20px; background-image: url("images/btn-x.png"); background-repeat: repeat-x; }
.QATZanA{ width: 56px; height: 32px; padding: 0 10px 0 14px; float: left;}
.QATZanLine{ width: 2px; height: 32px; float: left; background-image: url("images/iconAll.png"); background-position: -291px -35px;}
.QATQiuZan{ width: 24px; height: 32px; padding: 0 14px 0 10px; float: right;}
.QATZanAPic{ width: 20px; height: 20px; display: block; margin: 6px 5px 0 0; float: left; background-image: url("images/iconsmall.png"); background-position: -130px -42px;}
.QATZanSpan{ display: block; width: 27px; float: left; height: 16px; line-height: 16px; color: #FFF;  font-size: 10px; margin-top: 8px;}

/*Menu*/
.QAMUl{ width: 700px; height: 50px; margin-left: 150px;}
.QAMLi{ display: inline-block; line-height: 50px; font-size: 14px; padding: 0 15px; color: #332F30; text-decoration: none; cursor: pointer;}
.QAMLi:hover{ text-decoration: underline;}
.MyHeader{ width: 120px; height: 120px; display: block; position: absolute; top: -95px; background-image: url("../images/MyHeader.jpg"); background-size: 100% 100%; border: 3px solid #FFF;  box-shadow: 2px 2px 2px #d9d9d9;}



/*QACCL1*/
#QACCL1{ width: 168px; height: auto; min-height: 247px; overflow: auto; margin-bottom: 12px; border: 1px solid #f5d0dc; background-color: #FFFFFF;}
#QACCL2{ width: 168px; height: auto; min-height: 326px; overflow: auto; margin-bottom: 12px; border: 1px solid #f5d0dc;}
#QACCL3{ width: 170px; height: auto; min-height: 1140px; overflow: auto;}

.QACCLUl{ width: 168px; height: auto; overflow: auto; padding: 2px 0;}
.QACCLUlHide{ display: none;}
.QACCLLi{ width: 150px; height: 20px; padding: 8px 14px 8px 2px; margin: auto; cursor: pointer; margin: 1px;}
.QACCLLi:hover{background-color: #FAE1E7;}
.QACCLLiPic{ width: 16px; height: 16px; display: block; margin: 0 10px 0 14px; float: left; background-image: url("images/iconLeft.png");}
.QACCLLiPic01{ background-position: -815px -50px;}
.QACCLLiPic02{ background-position: -340px -50px;}
.QACCLLiPic03{ background-position: -465px -100px;}
.QACCLLiPic04{ background-position: -415px -25px;}
.QACCLLiPic05{ background-position: -840px -75px;}
.QACCLLiPic06{ background-position: -890px -50px;}
.QACCLLiPic07{ background-position: -865px -125px;}
.QACCLLiPic08{ background-position: -815px -125px;}
.QACCLLiPic09{ background-position: -815px -175px;}
.QACCLLiPic10{ background-position: -840px -175px;}
.QACCLLiPic11{ background-position: -890px 0px;}
.QACCLLiPic12{ background-position: -840px -125px;}
.QACCLLiPic13{ background-image: url("images/i13.png");}
.QACCLLiPic14{ background-image: url("images/i14.png");}
.QACCLLiPic15{ background-image: url("images/i15.png");}
.QACCLLiPic16{ background-image: url("images/i16.png");}
.QACCLLiPic17{ background-image: url("images/i17.png");}
.QACCLLiPic18{ background-image: url("images/i18.png");}
.QACCLLiPic19{ background-image: url("images/i19.png");}
.QACCLLiPic20{ background-image: url("images/i20.png");}
.QACCLLiPic21{ background-image: url("images/i21.png");}
.QACCLLiPic22{ background-image: url("images/i22.png");}
.QACCLLiPic23{ background-position: -865px -175px;}
.QACCLLiPic24{ background-position: -840px -175px;}
.QACCLLiPic25{ background-position: -865px -25px;}

.Leftbg{ background-color: #FAE1E7;}

.QACCLLiSpan{ width: 85px; height: 16px; float: left; font-size: 12px; color: #332f30; line-height: 16px;}
.QACCLLiNum{width: 25px; height: 13px; float: left;}
.QACCLLiNumA{ height: 13px; display: inline-block; min-width: 8px; padding: 0 5px; line-height: 13px; font-size: 11px; color: #FFF; font-family: Tahoma; border-radius: 7px; background-color: #d8615d;}
.QACCLLiWordA{ height: 13px; display: inline-block; min-width: 16px; line-height: 13px; font-size: 11px; color: #FFF; font-family: Tahoma; color: #d8615d;}
.QACCLLiWordA:hover{text-decoration: underline;}
.QACCLA{ width: 168px; height: 17px;background-color: #fff0f4;border-top: 1px #f5dce4 solid; display: block; cursor: pointer;}
.QACCLAIcon{ width: 16px; height: 16px; display: block; margin: auto; background-image: url("images/iconLeft.png"); background-position: -890px -150px;}

.QACCL3A{ width: 164px; height: auto; overflow: auto; min-height: 255px; border: #f5d0dc 1px solid; margin-bottom: 12px; padding-left: 4px;}
.QACCL3ATitle{ width: 160px; height: 16px; color: #332f30; font-size: 12px; line-height: 16px; margin: 6px 0 9px 0;}
.QACCL3A a{ width: 163px; height: 210px; display: block; }
.QACCL3AContent{ width: 163px; height: 210px; }
.c3{ display: inline-block; height: 16px; color: #d8615d; font-size: 12px; line-height: 16px; margin: 13px 0 8px 0; cursor: pointer; overflow:hidden;}
.c3:hover{ text-decoration: underline;}

.QACCL3AEve{width: 160px; height: 68px;}
.QACCL3AContent a{ width: 50px; height: 50px; display: block; float: left; cursor: pointer;}
.QACCL3AContent a img{ width: 50px; height: 50px;}
.QACCL3AERight{ width: 100px; height: 68px; float: right;}
.c4{ margin: 0;}
.c5{ width: 90px; height: 16px; cursor: pointer; font-size: 12px; color: #000; line-height: 16px; display: block; padding-top: 10px; }

#QACCL3AFix{position: absolute; z-index: 300; top: 1450px;}

/*Mid shuoshuo*/
#QAMSs:after{width: 0; height: 0; clear: both; display: block; content: "."; visibility: hidden;}

#QAMSs{ width: 534px; height: auto; position: relative; margin-bottom: 12px;}
.QAMShuoshuo{width: 534px; height: 70px; border: #f5d0dc 1px solid;}
.QAMTxt{width: 370px; height: 62px; padding: 3px 8px 5px 8px; background-color: #FFF; float: left;}
.QAMTxtA{width: 370px; height: 60px; border: 0; line-height: 20px; outline: 0; line-height: 20px; font-size: 14px;}
.QAMIcon{ width: 148px; height: 70px; background-color: #FFF2F5; float: left;}
.QAMIconA{width: 48px; height: 70px; border-left: 1px solid #F5DCE4; float: left; cursor: pointer; position: relative;}
.QAMIA01Ul{position: absolute; width: 197px; height: 70px; background-color: #FFF; left: -50px; z-index: 5; border:1px solid #F5DCE4; top: 70px; border-left: 0;}
.QAMIA02Ul{position: absolute; width: 98px; height: 70px; background-color: #FFF; z-index: 5; border:1px solid #F5DCE4; top: 70px; border-left: 0;}
.QAMIA03Ul{position: absolute; width: 197px; height: 70px; background-color: #FFF; left: -148px; z-index: 5; border:1px solid #F5DCE4; top: 70px; border-left: 0;}
.QAMIconAChild{width: 48px; height: 70px; border-left: 1px solid #F5DCE4; float: left; cursor: pointer;}
.QAMIconAChildPic{width: 24px; height: 24px; margin: 15px 12px 0 12px; display: block; background-image: url("images/iconLeft.png");}
.QAMIconAChildSpan{ width: 24px; height: 16px; font-size: 12px; text-align: center; line-height: 16px; margin: 0 12px 0 12px; color: #8C7E83;}
.QAMIconAChildPic01{ background-position: -540px -150px;}
.QAMIconAChildPic02{ background-position: -565px -50px;}
.QAMIconAChildPic03{ background-position: -565px -100px;}
.QAMIconAChildPic04{ background-position: -565px -150px;}
.QAMIconAChildPic05{ background-position: -515px 0;}
.QAMIconAChildPic06{ background-position: -515px -50px;}
.QAMIconAChildPic07{ background-position: -540px 0;}
.QAMIconAChildPic08{ background-position: -540px -50px;}
.QAMIconAChildPic09{ background-position: -540px -100px;}
.QAMIconAChildPic10{ background-position: -565px 0;}
/*.QAMIconAChildPic01:hover{ background-position: -540px -175px;}
.QAMIconAChildPic02:hover{ background-position: -565px -75px;}
.QAMIconAChildPic03:hover{ background-position: -565px -125px;}
.QAMIconAChildPic04:hover{ background-position: -565px -175px;}
*/




.QAMIA{width: 24px; height: 24px; margin: 22px auto; display: block; background-image: url("images/iconLeft.png");}
.QAMIA01{ background-position: -490px -50px;}
.QAMIA02{ background-position: -490px -100px;}
.QAMIA03{ background-position: -490px -150px;}
.QAMSBottom{width: 534px; height: 38px; border: 1px solid #F5DCE4; border-top: 0; background-color: #FFF;/* position: absolute; top: 72px;*/}
.QAMSBottomIcon{ width: 78px; height: 16px; padding: 11px 10px; float: left;}
.QAMSBottomIconA{width: 16px; height: 16px; background-image: url("images/iconLeft.png"); display: block; float: left; cursor: pointer; margin-right: 10px;}

.QAMSBottomIconAemot{ background-position: -340px 0px;}
.QAMSBottomIconAaite{ background-position: -465px -100px;}
.QAMSBottomIconAjin{ background-position: -465px -150px;}
.QAMSBottomIconAsync{ background-position: -690px -75px;}
.QAMSBottomIconAweibo{ background-position: -665px -175px;}


.QAMSBottomIconAemothover{ background-position: -465px -75px;}
.QAMSBottomIconAaitehover{ background-position: -465px -125px;}
.QAMSBottomIconAjinhover{ background-position: -465px -175px;}
.QAMSBottomIconAsynchover{ background-position: -690px -100px;}
.QAMSBottomIconAweibohover{ background-position: -690px 0;}

/*.QAMSBottomIconAemotclick{ background-position: -465px -75px;}
.QAMSBottomIconAaiteclick{ background-position: -465px -125px;}
.QAMSBottomIconAjinclick{ background-position: -465px -175px;}*/
.QAMSBottomIconAsyncclick{ background-position: -690px -125px;}
.QAMSBottomIconAweiboclick{ background-position: -690px -25px;}

.QAMSBottomIconAtip{ background-position: -390px -145px;}
.QAMSBottomMid{width: 220px; height: 16px; float: right; padding: 11px;}
.QAMSBottomBtn{ width: 55px; height: 28px; padding: 0 10px; border: 1px solid #CC4371;background-color: #E65C8A; border-radius: 3px; float: right; margin: 4px;  color: #fff; font-size: 14px; text-align: center; line-height: 28px; cursor: pointer;}
.QAMSBottomSpan{ line-height: 16px; height: 16px; font-size: 12px; color: #8C7E83; font-family: Microsoft Yahei; float: left;}
.QAMSBottomSpan1{ width: 2px; margin: 0 15px 0 8px; color: #F5DCE4;}
.QAMSBottomSpan2{ width: 60px;}
.QAMSBottomSpan3{ width: 68px; cursor: pointer;}
.QAMSBottomSpan3 i{ float: right;}


/*Mid 去年今日*/
#QALN{ width: 536px; height: auto; overflow-y: auto; overflow-x: hidden; }
#LastNow{width: 514px; height: 32px; border: #f5d0dc 1px solid; cursor: pointer; background-color: #FFF;  margin-bottom: 12px; padding: 12px 10px; overflow: hidden;}
.LNHeader{ width: 30px; height: 30px; margin-right: 10px; display: block; float: left; cursor: pointer;}
.LNHeader img{ width: 30px; height: 30px; }
.LHSpan{width: 145px; height: 30px; line-height: 30px; font-size: 12px; color: #8c7e83; float: left; display: block;}
.LHIcon{ width: 16px; height: 16px; display: block; float: right; margin-top: 7px; background-image: url("images/iconLeft.png"); background-position: -940px -50px;}


#QADA{ width: 536px; height: auto; overflow-y: auto; overflow-x: hidden;}
#DynamicAllTitle{ width: 534px; height: 42px;  border: 1px solid #f5d0dc;  background-color: #FFF0F4;  overflow: hidden;}
.DATArea{ width: 70px; height: 24px; padding: 14px 0 0 20px; float: left;}
.DATArea span{ width: 55px; height: 17px; line-height: 16px; font-size: 12px; color: #332f30; font-weight: bold; display: block; float: left;}
.DATArea i{ width: 10px; height: 10px; margin: 4px 0 0 3px; display: block; float: left;background-image: url("images/iconLeft.png"); background-position: -390px -150px;}
.DATIcon{width: 65px; height: 22px; padding: 11px 11px 0 0; float: right;}
.DATIconA{ width: 16px; height: 16px; display: block; float: left; background-image: url("images/iconLeft.png");}
.DATIconA01{ background-position: -940px -175px; margin: 2px 0 0 8px;}
.DATIconA02{ background-position: -715px -75px; margin: 2px 0 0 8px;}

.DATIconSpan{ width: 2px; height: 20px; color: #F5DCE4; display: block; float: left; margin: 0 4px 0 8px;}

#DynamicAllUpdate{ display: none; cursor: pointer; width: 150px; height: 19px; padding: 10px 192px;  border: 1px solid #f5d0dc; border-top: 0; background-color: #FFF0F4;}
.DAUSpan{ width: 115px; height: 19px; font-size: 13px; line-height: 19px; float: left; color: #c35673;}
.DAUIcon{width: 10px; height: 10px; background-image: url("images/iconLeft.png"); margin: 4px 0; background-position: -390px -150px; display: block; float: left;}
#DynamicAllUpdate:hover{ background-color: #FAE1E7;}



#ShuoshuoNew{width: 536px; height: auto; overflow: auto;}


/*每个好友动态*/
.DynamicEve{ width: 534px; height: auto; overflow: auto; border: 1px solid #f5d0dc; background-color: #FFF; margin-bottom: 12px;}
.DEHeader{ width: 50px; height: 50px; display: block; float: left; border-radius: 4px; overflow: hidden; margin: 15px 0 12px 10px; cursor: pointer;}
.DEHeader img{ width: 50px; height: 50px;}
.DEInfo{ width: 450px; height: 50px; float: right; margin: 15px 10px 12px 0;}

.DEInfoTop{ width: 260px; height: 22px; margin-bottom: 8px;}
.DEName{ line-height: 22px; color: #332f30; height: 22px; display: inline-block; font-size: 14px; float: left; cursor: pointer;}
.DEName:hover{text-decoration: underline;}
.DELevel{ display: block; width: 26px; height: 20px; padding-top: 2px; float: left; margin-left: 4px;}
.DEInfoBottom{ width: 450px; height: 16px;}
.DEInfoBottom span,a{ font-size: 12px; float: left; color: #8c7e83; height: 16px; line-height: 16px; margin-right: 8px;}
.DEInfoBottom a{ cursor: pointer;}
.DEInfoBottom a:hover{text-decoration: underline;}
.DATIconA03{ background-position: -390px -175px; float: left; margin-top: 0; margin-right: 2px;}
.DEChat{ width: 534px; height: auto; min-height: 81px;  border-top: 1px solid #f5d0dc; float: left;  background-color: #FFF0F4;}
.DECTop{ width: 512px; height: 28px; padding: 5px 10px;}

.DEContent{ width: 512px; height: auto; overflow: auto; min-height: 25px; float: left; padding: 0 10px 8px 10px; }
.DEContentTop{ color: #332f30; font-size: 14px; height: auto; overflow: auto; line-height: 22px; margin-bottom: 4px;}


.DEChatTA{ min-width: 16px; width: auto; height: 16px; padding: 6px 8px; margin-right: 7px; float: left; cursor: pointer; border: 1px solid #FFF0F4;}
.DEChatTA:hover{ background-color: #FFF; border: 1px solid #f5d0dc;}
.DATIconA04{ background-position: -390px -25px; float: left; margin: 0 7px 0 0;}
.DATIconA05{ background-position: -390px -50px; float: left; margin: 0 7px 0 0;}
.DATIconA06{ background-position: -365px -150px;; float: left; margin: 0 7px 0 0;}
.DATIconA07{ background-position: -390px -100px; float: left; margin: 0 7px 0 0;}
.DATIconA08{ background-position: -390px 0px; float: left; margin: 0 0 0 0;}


.DEChatTASpecUl{ width: 40px; height: 45px; padding: 5px; position: absolute; top: 40px; left: -8px; background-color: #FFF; border: 1px solid #f5d0dc}
.DECTASHide{ width: 40px; height: 20px; line-height: 20px; font-size: 12px; text-align: center;}
.DECTASJvbao{ width: 40px; height: 20px; line-height: 20px; font-size: 12px; text-align: center;}

.DECTASHide:hover{background-color: #FFF0F4;}
.DECTASJvbao:hover{background-color: #FFF0F4;}
.DECTASLine{ width: 40px; height: 0; border-bottom: 1px solid #f5d0dc; margin: 2px 0;}
.DEChatTASpec{ position: relative;}
.DEChatTASpecKong{ width: 50px; height: 40px; display: block; position: absolute; top: 10px; left:  -8px;}
.DEChatTASpecUlTip{ width: 0; height: 0; position: absolute; top: 35px; border: 8px solid #FFF; display: block;border-left-color: transparent;border-right-color: transparent;border-bottom-color: transparent; float: left;}



.DEChatTAC{ float: left; font-size: 12px; height: 16px; line-height: 16px; color: #c35673;}
.DECTopLine{width: 1px; height: 11px; border-right: 1px solid #f5d0dc; line-height: 11px; font-size: 11px; float: left; margin: 8px 9px 0 0;}
.DECLike{ width: 522px; height: 40px; padding-left: 10px; margin-bottom: 2px;}
.DECLBtn{ width: 16px; height: 16px; border: 1px solid #f5d0dc; padding: 6px; background-color: #FFF; float: left; margin-right: 10px; cursor: pointer;}


.DEComment{ width: 512px; height: auto; overflow: auto; min-height: 0; padding: 5px 10px;}
.DECommentA{ width: 512px; height: auto; overflow: auto; min-height: 36px; margin-bottom: 4px;}
.DECommentAPic{width: 30px; height: 34px; display: block; float: left;}
.DECommentAPic img{ width: 30px; height: 34px;}
.DECommentARight{ width: 472px; height: auto; overflow: auto; min-height: 36px; float: right;}
.DECommentARightContent{ width: 472px; height: auto; overflow: auto; min-height: 18px;  font-size: 12px; line-height: 18px; float: left;}
.DECommentARightContentName{ margin: 0 2px; display: inline-block; font-size: 12px; color: #c35673; line-height: 18px; height: 18px; text-decoration: none;}
.DECommentARightContentName:hover{text-decoration: underline;}
.DECommentARightBottom{ width: 472px; height: 18px; float: left;}
.DECommentARightBottom span{font-size: 12px; float: left; color: #8c7e83; height: 16px; line-height: 16px; margin-top: 2px;}
.DATIconA10{background-position: -415px -150px; margin-top: 1; cursor: pointer;}


.DATIconA09{ background-position: -365px -175px; margin: 0;}
.DECLikeHeader{ width: 30px; height: 30px; display: block; margin: 0 10px 10px 0; float: left; cursor: pointer;}
.DECLikeHeader img{ width: 30px; height: 30px;}
.DECLikeMyHeader{ width: 30px; height: 30px; display: none; margin: 0 10px 10px 0; float: left; cursor: pointer;}
.DECLikeMyHeader img{ width: 30px; height: 30px;}
.DECContent{ width: 512px; height: auto; overflow: auto; min-height: 30px; padding: 0 10px 12px 10px;}
.DECCtxt{ width: 452px; height: 30px; line-height: 20px; float: left; padding:2px 3px 2px 10px; font-size: 12px; border: 1px solid #f5d0dc; outline: 0;}
.DECContentIcon{ cursor: pointer; width: 56px; height: 28px; float: left;  border: 1px solid #f5d0dc; background-color: #FFF; border-left: 0;}
.DECCIcon{ width: 18px; height: 14px; margin: 6px auto; background-image: url("images/iconLeft.png"); background-position: -640px -150px; display: block;}
.DECContentBottom{display: none; width: 512px; height: 38px; float: left; padding-bottom: 10px;}
.DECContentBottomIcon1{ margin: 10px 8px 10px 0;}

.DECommentAReply{width: 472px; height: auto; overflow: auto; float: right; display: block; padding-top: 10px;}
.DECommentAPicReply{width: 30px; height: 34px; display: block; float: left;}
.DECommentAPicReply img{width: 30px; height: 30px;}
.DECommentARightContentNameReply{margin: 0 2px; display: inline-block; font-size: 12px; color: #c35673; line-height: 18px; height: 18px; text-decoration: none; float: left;}
.DECommentARightContentNameReply:hover{text-decoration: underline;}
.DECommentARightBottomReply{width: 432px; height: 18px; float: left;}
.DECommentARightBottomReply span{font-size: 12px; float: left; color: #8c7e83; height: 16px; line-height: 16px; margin-top: 2px;}
.DATIconA10Reply{background-position: -415px -150px; margin-top: 1; cursor: pointer;}
.DECommentARightReply{width: 432px; height: auto; overflow: auto; min-height: 36px; float: right;}
.DECommentARightContentReply{ width: 432px; height: auto; overflow: auto; min-height: 18px;  font-size: 12px; line-height: 18px; float: left;}

.DECContentReply{display: none; width: 472px; height: auto; overflow: auto; min-height: 30px; /*padding: 0 10px 12px 10px;*/}
.DECCtxtReply{ width: 472px; height: 60px; line-height: 20px; float: left; padding:2px 3px 2px 10px; font-size: 12px; border: 1px solid #f5d0dc; outline: 0;}
.DECContentBottomReply{ width: 472px; height: 38px; float: left; padding-bottom: 10px;}
.DECommentARightContentNameSpanReply{margin: 0 2px; display: inline-block; font-size: 12px; line-height: 18px; height: 18px; text-decoration: none; float: left;}

.DECommentAReplyArea{ width: 472px; height: auto; overflow: auto;}

.DEContentDes{ width: 512px; height: auto; overflow: auto; min-height: 0; }
.DEContentDesPic{ width: 512px; height: 384px; display: block; float: left; cursor: pointer;}
.DEContentDesPic img{ width: 512px; height: 384px;}



/*右边板块*/
#QACCRRCheckin{ width: 228px; height: 68px; border: 1px solid #f5d0dc; margin-bottom: 12px; background-color: #FFF;}
#QACCRRAdv{ width: 220px; height: 120px;border: 1px solid #f5d0dc; margin-bottom: 12px; padding: 4px; background-color: #FFF;}
#QACCRRAdv img{ width: 220px; height: 120px;}
#QACCRRCare{ width: 219px; height: 270px; padding-left: 9px; border: 1px solid #f5d0dc;  margin-bottom: 12px; background-color: #FFF;}
#QACCRRWho{ width: 219px; height: 443px; padding-left: 9px; border: 1px solid #f5d0dc;  margin-bottom: 12px; background-color: #FFF;}
#QACCRRWhoTop{ width: 219px; height: 16px; padding: 10px 0;}
#QACCRRWhoUl{ width: 219px; height: 300px; display: block;}


/*空间等级*/
.d1{ width: 8px; height: 7px; background-image: url("images/qzone_level.png"); background-position: -119px 0px; display: block; position: absolute;}
.d2{ width: 8px; height: 7px; background-image: url("images/qzone_level.png"); background-position: -136px 0; display: block; position: absolute;}
.d3{ width: 8px; height: 7px; background-image: url("images/qzone_level.png"); background-position: -153px 0px; display: block; position: absolute;}
.d4{ width: 8px; height: 7px; background-image: url("images/qzone_level.png"); background-position: -170px 0; display: block; position: absolute;}
.d5{ width: 8px; height: 7px; background-image: url("images/qzone_level.png"); background-position: -187px 0px; display: block; position: absolute;}
.d6{ width: 8px; height: 7px; background-image: url("images/qzone_level.png"); background-position: -204px 0; display: block; position: absolute;}
.d7{ width: 8px; height: 7px; background-image: url("images/qzone_level.png"); background-position: -221px 0px; display: block; position: absolute;}
.d8{ width: 8px; height: 7px; background-image: url("images/qzone_level.png"); background-position: -238px 0; display: block; position: absolute;}
.d9{ width: 8px; height: 7px; background-image: url("images/qzone_level.png"); background-position: -255px 0px; display: block; position: absolute;}
.d0{ width: 8px; height: 7px; background-image: url("images/qzone_level.png"); background-position: -272px 0; display: block; position: absolute;}


.n1{ top: 8px; left: 8px}
.n2{ top: 8px; left: 16px;}


.p1{ width: 16px; height: 16px; display: block; background-image: url("images/qzone_level.png"); background-position: 0px 0;}
.p2{ width: 16px; height: 16px; display: block; background-image: url("images/qzone_level.png"); background-position: -17px 0;}
.p3{ width: 16px; height: 16px; display: block; background-image: url("images/qzone_level.png"); background-position: -34px 0;}
.p4{ width: 16px; height: 16px; display: block; background-image: url("images/qzone_level.png"); background-position: -51px 0;}

.QzoneLevel{ width: 24px; height: 20px; position: relative;}
/*.QzoneLevelPic{ width: 16px; height: 16px; display: block; background-image: url("images/qzone_level.png"); background-position: -34px 0;}
*/
/*空间等级 end*/











/*照片门板*/
.menban{ width: 100%; height: 100%; background-color: rgba(0,0,0,0.99); position: absolute; z-index: 9999; overflow: hidden; position: fixed;}
.mbbg{ width: 800px; height: 500px; margin: 50px auto;}
.mbbg img{width: 800px; height: 500px;}
.mbclose{ width: 30px; height: 30px; font-size: 24px; color: #FFF; background-color: #888; position: absolute; background-image: url("images/iconPic.png"); background-position: -141px -33px; left: 1060px; top: 40px; cursor: pointer; text-align: center; line-height: 30px; border-radius: 15px; overflow: hidden;}










/*转发门板*/
.forwordMenban{ width: 100%; height: 100%; background-color: rgba(0,0,0,0.25); position: fixed; z-index: 9000;}
.forword{ width: 430px; height: 210px; background-color: #FFF; position: absolute; z-index: 9001; top: 200px; left: 480px; border-radius: 4px; overflow: hidden;}
.forwordTitle{ width: 430px; height: 31px; background-color: #F3F3F3; position: relative;}
.forwordTitle span{ line-height: 31px; font-size: 12px; font-weight: bold; padding-left: 10px;}
.forwordMid{ width: 430px; height: 28px; padding-top: 30px; border-bottom: 2px solid #f1f1f1;}
.forwordMidUl{ width: 390px; height: 28px; display: block; margin: auto;}
.forwordMidLi{ width: 69px; height: 24px; display: block; float: left; border-bottom: 2px solid #68B3E9;}
.forwordMidLi a{ width: 17px; height: 16px; display: block; margin-right: 2px; background-image: url("images/qz_comments-wei.png"); background-position: 0 -126px;}
.forwordMidLi span{ width: 48px; height: 17px; font-size: 12px; line-height: 17px; display: block; float: left;}
.forwordTxt{ width: 390px; height: 90px; padding: 20px;}
.forwordTxtArea{ width: 390px; height: 60px; padding: 2px 3px 22px 3px; border: 1px solid #ddd; outline: 0; line-height: 16px;}
.forwordTxtBtn{ width: 390px; height: 25px; padding-top: 5px;}
.fwtbLeft{ width: 120px; height: 18px; float: left;}
.fwtbLeftA{ width: 53px; height: 18px; float: left; margin-right: 2px; cursor: pointer;}
.fwtbLeftAI{ width: 16px; height: 16px; background-image: url("images/mod_comments.png"); background-position: -2px -2px; display: block; float: left; margin-right: 4px;}
.fwtbLeftAI2{ background-position: -2px -22px;}
.fwtbLeftA span{ line-height: 18px; font-size: 12px; float:left; color: #a8a8a8;}
.fwtbRight{ width: 58px; height: 23px; float: right;}
.forwordBtn{ background-color: #5CAAE6; width: 32px; height: 21px; padding: 0 10px; border: 1px solid #59A7E3; border-radius: 3px; line-height: 21px; text-align: center; color: #FFF; cursor: pointer;}
.forwordBtn:hover{ background-color: #61B3F2;}
.forwordClose{cursor: pointer; top:1px; left: 405px; width: 24px; height: 24px; display: block; position: absolute; background-image: url("images/sprite.png"); background-repeat: no-repeat; background-position: 7px 7px;}
.forwordClose:hover{ background-position: -14px 7px;}


.DECForword{ width: 510px; height: auto; overflow: auto; border: 1px solid #f5d0dc;}
.DECForwordPic{width: auto; height: auto; overflow: auto; float: left;}
.DECForwordPic img{ width: 90px; height: 90px;}
.DECForwordDesPic{width: 410px; height: auto; overflow: auto; padding: 10px 0;}

.DECForwordDes{width: 510px; height: auto; overflow: auto; padding: 10px 0;}


.DECForwordName{ /* width: 30px;*/ height: 24px; width: auto; cursor: pointer; line-height: 24px; font-size: 13px; text-align: center; color: #c35673; float: left; padding: 0 10px;}
.DECForwordName:hover{ text-decoration: underline;}
.DECForwordContent{ line-height: 24px; font-size: 12px; margin: 0 10px;}






















/*名片*/
.QAcard{ width: 304px; height: 165px; background-color: #FFF; box-shadow: 0px 0px 2px #CCC; border: 1px solid #D9D9D9; position: absolute; top: 200px; left: 400px; z-index: 1000;}
.QAcardA{ width: 304px; height: 165px; position: relative;}
.QACardIcon{ width: 24px; height: 24px; display: block; background-image: url("images/card.png"); position: absolute; left: 280px;}
.QACardAHeader{ width: 100px; height: 100px; display: block; position: absolute; background-image: url("../images/MyHeader.jpg"); background-size: 100px 100px; top: 15px; left: 15px;}
.QACardAHeader img{ width: 100px; height: 100px;}
.QACardMid{ width: 150px; height: 100px; position: absolute; left: 130px; top:20px;}
.QACardBottom{ width: 304px; height: 35px; background-color: #F5F5F5; top:130px;position: absolute;}
.QACSpan{ line-height: 35px; color: #1D6297;}
.QACSpanDes{ font-size: 12px; color: #555;}
.QACSpan:hover{ text-decoration: underline;}
.QACardMidName{ font-weight: bold; font-size: 14px; cursor: pointer;}
.QACardBottomChat{ font-size: 12px; width: 50px; text-align: center; float: right; display: block; cursor: pointer;}