.skinA{ background-color: #4CADC5;}

.skin_bottom{ border-bottom: 1px solid #4CADC5;}
.skin_bottom02{ border-bottom: 3px solid #4CADC5;}
.skin_color{color: #4CADC5;}
.TADMenuLA:hover{ color: #4CACC4;}

.skin_bgcolorQian{ background-color: #9BC8CE;}
.skin_border{ border: 1px solid #9BC8CE;}

.TADMenuLATipLi:hover{ background-color: rgb(72,164,187);}
/*rgb(155, 200, 206)*/
/*#F57684*/