.skinA{ background-color: #4CADC5;}
.skin_bgcolorQian{ background-color: rgb(155, 200, 206);}
.skin_bottom{ border-bottom: 1px solid #4CADC5;}
.skin_bottom02{ border-bottom: 3px solid #4CADC5;}
.skin_color{color: #4CADC5;}
.skin_border{ border: 1px solid rgb(155, 200, 206);}
.TADMenuLA:hover{ color: #4CACC4;}

.skin_bg{ background-color: #4cadc5;}