.skinA{ background-color: #F6BB42;}
.skin_bottom{ border-bottom: 1px solid #F6BB42;}
.skin_bottom02{ border-bottom: 3px solid #F6BB42;}
.skin_color{color: #F6BB42;}
.TADMenuLA:hover{ color: #F6BB42;}

.skin_bgcolorQian{ background-color: #FFCE54;}
.skin_border{ border: 1px solid #FFCE54;}

.TADMenuLATipLi:hover{ background-color: rgb(233,176,63);}

