.skinA{ background-color: #D770AD;}
.skin_bottom{ border-bottom: 1px solid #D770AD;}
.skin_bottom02{ border-bottom: 3px solid #D770AD;}
.skin_color{color: #D770AD;}
.TADMenuLA:hover{ color: #D770AD;}

.skin_bgcolorQian{ background-color: #EC87C0;}
.skin_border{ border: 1px solid #EC87C0;}

.TADMenuLATipLi:hover{ background-color: rgb(204,106,164);}