.skinA{ background-color: #FFCE54;}
.skin_bottom{ border-bottom: 1px solid #FFCE54;}
.skin_bottom02{ border-bottom: 3px solid #FFCE54;}
.skin_color{color: #FFCE54;}
.TADMenuLA:hover{ color: #FFCE54;}

.skin_bgcolorQian{ background-color: #FFCE54;}
.skin_border{ border: 1px solid #FFCE54;}

.TADMenuLATipLi:hover{ background-color: rgb(233,176,63);}