.skinA{ background-color: #4A89DC;}
.skin_bottom{ border-bottom: 1px solid #4A89DC;}
.skin_bottom02{ border-bottom: 3px solid #4A89DC;}
.skin_color{color: #4A89DC;}
.TADMenuLA:hover{ color: #4A89DC;}

.skin_bgcolorQian{ background-color: #5D9CEC;}
.skin_border{ border: 1px solid #5D9CEC;}

.TADMenuLATipLi:hover{ background-color: rgb(70,130,209);}